

<div class='container'>
  <div class="jumbotron">
    <h2>
      <a href="/capsules/new/image">[Upload image]</a>
    </h2>
  </div>
<hr>

  <div class="jumbotron">
    <h2>
      <a href="/capsules/new/link">[Add link]</a>
    </h2>
  </div>

</div>